.router-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.router {
  width: 100%;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.logo-bottom {
  width: 150px;
  position: absolute;
  bottom: 20px;
}

@media (min-width:544px) {
  .router { width: 90%; }
}

@media (min-width:768px) {
  .router { width: 75%; }
}

// @media (min-width:992px) {
//   .router { width: 60%; }
// }
