<div class="guest">
  <h1>First-time Guest</h1>
  <div class="form-container">
    <form>
      <div class="form-group row">
        <div class="col-xs-12 col-sm-6">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control form-control-lg" id="firstName">
        </div>
        <div class="col-xs-12 col-sm-6">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control form-control-lg" id="lastName">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control form-control-lg" id="email">
      </div>
      <button type="submit" class="btn submitBtn pull-xs-right">Submit</button>
    </form>
  </div>
</div>
