<div class="guest" [@flyInOut]="'in'">
  <div class="form-container">
    <h5>First-Time Guest Form</h5>
    <form novalidate>
      <div class="form-group row">
        <div class="col-xs-12 col-sm-6">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control form-control-lg" id="firstName">
        </div>
        <div class="col-xs-12 col-sm-6">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control form-control-lg" id="lastName">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control form-control-lg" id="email">
      </div>
      <button type="button" class="btn submitBtn pull-xs-right" (click)="submit()">Submit</button>
    </form>
  </div>
</div>
