/* You can add global styles to this file, and also import other style files */
html, body {
  background: #47bbbd;
  background: -moz-radial-gradient(center, ellipse cover, #47bbbd 0%, #2c7171 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #47bbbd), color-stop(100%, #2c7171));
  background: -webkit-radial-gradient(center, ellipse cover, #47bbbd 0%, #2c7171 100%);
  background: -o-radial-gradient(center, ellipse cover, #47bbbd 0%, #2c7171 100%);
  background: -ms-radial-gradient(center, ellipse cover, #47bbbd 0%, #2c7171 100%);
  background: radial-gradient(ellipse at center, #47bbbd 0%, #2c7171 100%);
  height: 100%;
}

html * {
  font-family: 'Open Sans', sans-serif !important;
}
